body {
    background-image: url("img/WIN_20211121_19_29_33_Pro.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding-top: 5pc;
}

#clients h2 {
    transition: 0.4s;
}

#clients h2:hover {
    text-shadow: 4px 1px 1px white;
}

#about h2 {
    transition: 0.4s;
}

#about h2:hover {
    text-shadow: 4px 1px 1px white;
}

#contact h2 {
    transition: 0.4s;
}

#contact h2:hover {
    text-shadow: 4px 1px 1px white;
}

#gallery h2 {
    transition: 0.4s;
}

#gallery h2:hover {
    text-shadow: 4px 1px 1px white;
}

#gallery img {
    transform: rotate(0) rotateX(0) rotateY(0);
    transition: 1s;
}

#gallery .col-md-4:hover img {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
}

.footer .email {
    transition: 0.5s;
    font-family: monospace;
    margin-bottom: 1pc;
}

.footer .email:hover {
    transform: rotate(-14deg) scale(1.3);
    color: red;
    font-weight: 100;
    font-family: serif;
}